<%= simple_form_for(@business) do |f| %>
  <div class="form-inputs">
    <div class="left-input col-xs-7">
      <%= f.input :name,
                  required: true,
                  placeholder: 'Company name',
                  label: false,
                  autofocus: true,
                  input_html: { class: 'first-input'} %>
      <%= f.input :address,
                  required: true,
                  placeholder: 'Head office address',
                  label: false %>
      <%= f.input :location,
                  required: true,
                  placeholder: "Location as seen in search results (e.g 'London, UK')",
                  label: false %>
      <%= f.input :website,
                  required: true,
                  label: false,
                  placeholder: 'Company website' %>
      <p></p>
      <p class="form-header">What kind of missions are you interested in?</p>
      <%= f.collection_radio_buttons :charity_preferences,
                  [['environment', 'Environment'], ['healthcare', 'Healthcare'], ['disaster relief', 'Disaster relief'], ['education', 'Education'], ['humanitarian', 'Humanitarian'], ['children', 'Children']],
                  :first,
                  :last do |b|
                    b.radio_button(class: 'hidden-input') + b.label(class: 'button-label small')
                  end %>
      <p></p>
      <%= f.input :description,
                  required: true,
                  label: false,
                  placeholder: 'Description',
                  input_html: { class: 'description-input first-input' } %>
      <% if @business.id != nil %>
        <p class="secondary-txt org-delete">
          If you would like to delete your account with us, please click <%= link_to "here", business_path(@business), data: { confirm: "Are you sure you want to delete your account with us?" }, method: :delete, class: 'underline' %>
        </p>
      <% end %>
      <div class="form-actions">
        <%= link_to "Back to Feed", feed_path, class: 'form-return-link' %>
        <%= f.button :submit, "Next", class: 'big-btn purple-btn form-btn' %>
      </div>
    </div>
    <div class="right-input col-xs-5">
      <div class="circle-div">
        <div class="preview">
        </div>
        <p class="circle-text">click to upload your logo</p>
        <%= f.file_field :logo, class: 'profileUploadInput' %>
      </div>
    </div>

  </div>
<% end %>


