
  <div class="show-container">

    <div class="profile-left">
      <div class="logo-box">
        <% if @business.logo.url %>
          <%= cl_image_tag @business.logo, height: '100', width: '100', class: "profile-image" %>
        <% else %>
          <%= image_tag "mission.jpg", class: "profile-image" %>
        <% end %>
      </div>

      <div class="flex-box main-title">
        <h1 class="medium-text">
          <%= @business.name %>
        </h1>

        <% unless current_user.organisation == @business %>
          <div class="follow-button">

            <% following = Follow.following?(current_user.organisation, @business) %>

            <% if following %>
              <%= link_to 'Following', unfollow_business_path(@business), method: :delete, class: 'purple-btn medium-btn rounded nohover'%>
            <% else %>
              <%= link_to '+ Follow', follow_business_path(@business), method: :post, class: 'white-btn medium-btn rounded nohover' %>
            <% end %>

          </div>
        <% end %>
      </div>

      <div class="profile-stats flex-box">
        <p class="count">
          <strong><%= @business.partnerships.count %></strong> charity partnerships
        </p>
        <p class="count">
          <strong><%= @business.followers.length %></strong> <%= "follower".pluralize(@business.followers.length) %>
        </p>
      </div>

      <div class="profile-content">
        <p>
          <a class="blue" href="<%= @business.website %>" target="_blank"><%= @business.website %></a>
        </p>
        <p class="profile-category">
          CSR focus: <%= @business.charity_preferences.capitalize %>
        </p>
      </div>

      <div class="profile-description">
        <p><%= @business.description %></p>
      </div>

      <div>
        <% if @business == current_user.organisation %>
          <%= link_to edit_business_path(@business) do %>
            <i class="far fa-edit"></i>
          <% end %>
          <%= link_to business_path(@business),
            method: :delete,
            data: { confirm: "Are you sure you want to delete your business profile?" } do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="profile-right">
      <div
        id="map"
        style="width: 100%;
        height: 100%;"
        data-marker="<%= @marker.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      >
      </div>
    </div>
  </div>

    <div class="mission-header">
      <h3><u>Missions</u><strong class="dot-small">.</strong>
      </h3>
    </div>
  <hr>

  <div class="mission-cards-container">
    <% @business.partnerships.each do |partnership| %>
      <div class="col-md-4 col-sm-12">
        <%= link_to mission_path(partnership.mission) do%>
          <div class="small-mission-card">
            <% if partnership.mission.image.url %>
              <%= cl_image_tag partnership.mission.image, class: "mission-image" %>
            <% else %>
              <%= image_tag "mission.jpg", class: "mission-image" %>
            <% end %>
            <div class="mission-details">
              <h1 class="card-title"><%= partnership.mission.name %></h1>
              <p class="card-location card-text-grey"><i class="fas fa-map-marker-alt"></i> <%= partnership.mission.charity.location %></p>
              <% if partnership.mission.duration %>
                <p class="card-location"><strong>Duration:</strong> <%= partnership.mission.duration %> months</p>
              <% else %>
                <p class="card-location"><strong>Duration:</strong> not specified</p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

<% content_for :after_js do %>
  <%= javascript_pack_tag "map" %>
<% end %>
