<div class="container">
  <div class="form-row">
    <div class="col-xs-9">
        <h1 class="form-txt">Edit <%= resource_name.to_s.humanize %></h1>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email,
                        required: true,
                        placeholder: 'Email',
                        label: false,
                        autofocus: true,
                        input_html: { class: "first-input" }%>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>

            <%= f.input :password,
                        required: false,
                        placeholder: "Password (leave blank if you don't want to change)",
                        label: false %>
            <%= f.input :password_confirmation,
                        required: false,
                        label: false,
                        placeholder: 'Confirm password' %>
            <%= f.input :current_password,
                        required: true,
                        placeholder: "Type current password to make changes",
                        label: false %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Update", class: 'big-btn purple-btn form-btn' %>
          </div>
        <% end %>
        <div class="minor-link-div">
          <%= link_to "Cancel account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'form-return-link' %><br>
          <%= link_to "Back", :back, class: 'form-return-link'%>
        </div>
      </div>
    </div>
    <div class="col-xs-3">
        <%= image_tag "", width: 400, class: 'form-image' %>
    </div>
  </div>
</div>

