<div class="container dashboard">

  <div class="dashboard-title">
    <h1>Welcome to your <u>Inbox</u><strong class="dot">.</strong></h1>
    <br>

    <% if @conversations == [] %>
    <p class="secondary-txt">You don't have any messages yet!</p>
    <% end %>
<!--       <p class="secondary-txt"></p> -->
  </div>

  <%# unless @conversations.empty? %>
    <% @conversations.each do |conversation|%>

      <%= link_to conversation_path(conversation) do %>

        <div class="conversation-container-flex" style=<%= "background-color:#f4f4f4" if !conversation.empty? && conversation.recipient?(current_user.organisation) && conversation.any_message_unread? %>>
          <div class="logo">
            <% partner = conversation.chatting_with(current_user.organisation) %>
              <strong><%= partner.name %></strong>
          </div>

          <div class="conversation-partner">
              <% if !conversation.partnership.nil? %>
                <%= conversation.partnership.mission.name %>
              <% else %>
                No subject
              <% end %>
          </div>

          <div class="conversation-body">
            <% if conversation.empty? %>
              <em>Nobody has sent a message yet...</em>
            <% else %>
              <em><%= conversation.most_recent_message.content.gsub("<br>", " ").html_safe %></em>
            <% end %>
          </div>

          <div class="time">
            <% unless conversation.empty? %>
                Most recent message sent by <strong><%= conversation.recipient?(current_user.organisation) ? partner.name : "you" %></strong>
                <br><br>
                <%= conversation.most_recent_message.message_time %>
            <% end %>
          </div>

          <div class="read-status green-dot">
            <% if !conversation.empty? && conversation.recipient?(current_user.organisation) && conversation.any_message_unread? %>
              <i class="fas fa-circle"></i>
            <% end %>
          </div>



        </div>
      <% end %>
    <% end %>
  <%# end %>
</div>
