<% partner = @conversation.chatting_with(current_user.organisation) %>
<% partner_name = partner.name %>

<div class="container">
<div class="flex-box-chat">
  <%= link_to partner.class == Charity ? charity_path(partner) : business_path(partner) do %>
    <div class="partnership-container-small">
      <div class="img">
        <% if partner.logo.url %>
          <%= cl_image_tag partner.logo, class: "image" %>
        <% else %>
          <%= image_tag "mission.jpg", class: "image" %>
        <% end %>
      </div>
      <br>
      <div class="card-content">
        <h1 class="card-title"><%= partner.name %></h1>
         <p class="card-location"><i class="fas fa-map-marker-alt"></i> <%= partner.address %></p>
      </div>
    </div>
  <% end %>


    <div class="messages-container">
      <div class="messages" id="messages">
      <div class="messages-flex-box">

      <% @conversation.messages.each do |message| %>

        <% if message.sender?(current_user.organisation) %>


          <div class="one-message-container purple">
            <div class="message-subject">
              <div class="send-receive">
                From: <%= current_user.organisation.name %><br>
                To: <%= partner.name %><br><br>
                Subject: <%= !@conversation.partnership.nil? ? @conversation.partnership.mission.name : "none" %>
              </div>
              <div class="conversation-time">
                <%= message.message_time %>
              </div>
            </div>
            <div class="chat-bubble-purple">
              <%= message.content.html_safe %>
            </div>
          </div>

        <% else %>
          <div class="one-message-container">
            <div class="message-subject">
              <div class="send-receive">
                From: <%= partner.name %><br>
                To: <%= current_user.organisation.name %><br><br>
                Subject: <%= !@conversation.partnership.nil? ? @conversation.partnership.mission.name : "none" %>
              </div>
              <div class="conversation-time">
                <%= message.message_time %>
              </div>
            </div>
            <div class="chat-bubble-purple">
              <%= message.content.html_safe %>
            </div>
          </div>

        <% end %>
      <% end %>
      </div>
    </div>
    <div class="txt-form">
      <%= render 'message_form', conversation: @conversation, message: @message, partner: partner_name %>
    </div>
  </div>
</div>
</div>
