<div class="container">
  <div class="form-row">
    <div class="col-xs-6">
        <h1 class="form-txt">Forgot your password?</h1>

        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        placeholder: "Email",
                        label: false,
                        input_html: { autocomplete: "email", class: "first-input" } %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Recover password", class: 'big-btn purple-btn form-btn' %>
            <div class="minor-link-div">
              <%= link_to "Log in", new_user_session_path, class: 'form-return-link minor-link' %><br>
              <%= link_to "Sign up", new_user_registration_path, class: 'form-return-link minor-link' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-xs-6">
      <%= image_tag "business_hand.png", width: 400, class: 'form-image' %>
    </div>
  </div>
</div>
