
  <div class="following-cards">
    <p class="secondary-txt center">
      "You are following..."
    </p>

    <div class="row">
      <% @following.each do |following| %>
        <div class="col-xs-12 col-md-6 col-lg-4 card-box" data-type="charity">
          <%= link_to following.followed_type == "Charity" ? charity_path(following.followed) : business_path(following.followed) do %>

            <div class="card small-dashboard-card">
              <%= cl_image_tag following.followed.logo.url, class: "charity-image" %>
              <div class="card-content-wrap">
                <h1 class="card-title">
                  <%= following.followed.name %>
                </h1>
              </div>
              <div class="charity-identifier" style=<%= following.followed_type == "Charity" ? "background-color:#5B00FF" : "background-color:#FFD300;" %>>
                <%= following.followed_type %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <br>

    <p class="secondary-txt center">
      "These organisations are following you..."
    </p>

    <div class="row">
      <% @followers.each do |follow| %>
        <div class="col-xs-12 col-md-6 col-lg-4 card-box" data-type="charity">
          <%= link_to follow.follower_type == "Charity" ? charity_path(follow.follower) : business_path(follow.follower) do %>

            <div class="card small-dashboard-card">
              <%= cl_image_tag follow.follower.logo.url, class: "charity-image" %>
              <div class="card-content-wrap">
                <h1 class="card-title">
                  <%= follow.follower.name %>
                </h1>
              </div>
              <div class="charity-identifier" style=<%= follow.follower_type == "Charity" ? "background-color:#5B00FF" : "background-color:#FFD300;" %> >
                <%= follow.follower_type %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>


  </div>

