
  <div class="following-cards">
    <p class="secondary-txt center">
      "You are following..."
    </p>

    <% @following.each do |following| %>
      <div class="col-xs-12 col-md-6 col-lg-4 card-box" data-type="charity">
        <%= link_to following.followed_type == "Charity" ? charity_path(following.followed) : business_path(following.followed) do %>

          <div class="browse-card format-card">
            <%= image_tag "mission.jpg", class: "charity-image" %>
            <div class="card-content-wrap">
              <h1 class="card-title">
                <%= following.followed.name %>
              </h1>
              <p class="card-location">
                <i class="fas fa-map-marker-alt"></i> <%= following.followed.address %>
              </p>
              <p class="card-description">
                <%= following.followed.description.first(170) + '...'%>
              </p>
            </div>
            <div class="charity-identifier" style="background-color:<%= following.followed_type == "Charity" ? $purple : $yellow %> !important;">
              <%= following.followed_type %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

    <p class="secondary-txt center">
      "These organisations are following you..."
    </p>

    <% @followers.each do |follow| %>
      <div class="col-xs-12 col-md-6 col-lg-4 card-box" data-type="charity">
        <%= link_to follow.follower_type == "Charity" ? charity_path(follow.follower) : business_path(follow.follower) do %>

          <div class="browse-card format-card">
            <%= image_tag "mission.jpg", class: "charity-image" %>
            <div class="card-content-wrap">
              <h1 class="card-title">
                <%= follow.follower.name %>
              </h1>
              <p class="card-location">
                <i class="fas fa-map-marker-alt"></i> <%= follow.follower.address %>
              </p>
              <p class="card-description">
                <%= follow.follower.description.first(170) + '...'%>
              </p>
            </div>
            <div class="charity-identifier" style="background-color:<%= following.followed_type == "Charity" ? $purple : $yellow %> !important;" >
              <%= follow.follower_type %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

