<%= simple_form_for(@partnership) do |f| %>
  <div class="form-inputs">
    <div class="left-input col-xs-8">
      <h3>Partnership request for <%= @mission.name %></h3>
      <h6>Charity: <%= @mission.charity.name %></h6>
      <p><%= @mission.description %></p>
      <%= f.input :details,
                  required: true,
                  placeholder: "Please enter a message for #{@mission.charity.name}",
                  label: false,
                  autofocus: true,
                  input_html: { class: 'first-input'} %>

      <div class="form-actions">
        <%= link_to "Back to Feed", feed_path, class: 'form-return-link' %>
        <%= f.button :submit, "Submit", class: 'big-btn purple-btn form-btn' %>
      </div>
    </div>
  </div>
<% end %>
