<% if @conversations.first != nil && @conversations.first.exists? %>
  <% @conversations.each do |conversation|%>
    <%= link_to partnership_path(Partnership.find(conversation.last.partnership_id)) do %>
      <div class="conversation-container flex-box">
        <% partner = conversation.last.sender == current_user ? conversation.last.recipient : conversation.last.sender %>
        <%= cl_image_tag partner.logo, class: "charity-image" %>
        <div class="conversation-detail  flex-box">
          <div class="conversation-info">
            <p class="conversation-partner"><%= partner.name %></p>
            <p class="conversation-time"><%= conversation.last.message_time %></p>
          </div>
          <div class="conversation-body">
           <%= conversation.last.content%>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>


