<div class="tab-container">
  <% if @finished_partnerships.count > 0 %>

    <div class="row">

      <% @finished_partnerships.each do |partnership| %>
        <div class="col-xs-12">
          <div class="full-length-card">
            <% if partnership.mission.image.url %>
              <%= cl_image_tag partnership.mission.image, class: "mission-image" %>
            <% else %>
              <%= image_tag "mission.jpg", class: "mission-image" %>
            <% end %>
            <div class="card-content">
              <h1 class="card-title"><%= partnership.mission.name %></h1>
              <p class="card-text-grey"><%= partnership.mission.charity.name%></p>
              <p class="card-location"><i class="fas fa-map-marker-alt"></i> Location: <%= partnership.mission.charity.address %></p>
              <p class="card-description"> <%= partnership.mission.description.first(400) + '...'%></p>
            </div>
            <div class="mission-buttons">
              <%= link_to "Mission Info", mission_path(partnership.mission), class: "small-btn white-btn" %>
              <%= link_to "Message History", "#", class: "small-btn white-btn" %>
            </div>
            <div class="status identifier" style="background-color:<%= partnership.color %> !important;">
                 Status: <%= partnership.status.capitalize %>
            </div>
          </div>
        </div>
      <% end %>

    </div>

  <% end %>
</div>
