<% partner = current_user.organisation.class == Charity ? @partnership.business : @partnership.mission.charity %>

<div class="container">
<div class="flex-box-chat">
  <%= link_to mission_path(@partnership.mission) do %>
    <div class="partnership-container-small">
      <% if partner.logo.url %>
        <%= cl_image_tag partner.logo, class: "charity-image-small" %>
      <% else %>
        <%= image_tag "mission.jpg", width: 400 %>
      <% end %>

      <div class="card-content">
        <h1 class="card-title"><%= partner.name %></h1>
        <p class="card-text-grey">Mission: <p class="card-text-grey">  <%= @partnership.mission.name%></p></p>
         <p class="card-location"><i class="fas fa-map-marker-alt"></i> <%= @partnership.mission.charity.address %></p>
      </div>

      <% if current_user.organisation_type == "Charity" %>
        <%= link_to "Accept", partnership_path(@partnership, status: 'accepted'), method: :patch, class: "status accepted-btn" %>
        <%= link_to "Decline", partnership_path(@partnership, status: 'declined'), method: :patch, class: "status declined-btn" %>
        <%= link_to "Completed", partnership_path(@partnership, status: 'completed'), method: :patch, class: "status completed-btn" %>
      <% end %>
    </div>
  <% end %>


    <div class="messages-container">
      <div id="messages">
      <% partner_name = "" %>
      <% @conversation.each do |message| %>

        <% if message.sender == current_user.organisation %>
          <% partner_name = message.recipient.name %>

          <div class="my-message-container">
            <div class="chat-bubble-purple">
              <%= message.content %>
            </div>
            <p class="conversation-time"><%= message.message_time %></p>
          </div>

        <% else %>
          <% partner_name = message.sender.name %>

          <div class="your-message-container">

            <div class="chat-bubble-grey">
             <%= message.content %>
            </div>
            <p class="conversation-time"><%= message.message_time %></p>
          </div>

        <% end %>
      <% end %>
      </div>
    <%= render 'message_form', partnership: @partnership, message: @message, partner: partner_name %>
  </div>



</div>
</div>
