<div class="container">
  <div class="feed-title">
    <h1>Welcome to your <u>Feed</u><strong class="dot">.</strong></h1>
    <p class="secondary-txt">Browse profiles and missions created by our charity partners and specially curated just for you</p>
    <hr>
  </div>

  <div class="search-bar flex-container">

    <%= form_tag feed_path, class: "form-inline", method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "search-field",
        placeholder: "   Search by charity, mission, location, category etc."
      %><%= submit_tag 'Search', class: "button purple-btn small-btn" %>

    <% end %>
    <div class="filter">
      <button class="nohover button white-btn small-btn" id="charity">Charities</button>
      <button class ="nohover button white-btn small-btn" id="mission">Missions</button>
    </div>

  </div>


  <div class="flex-container">
    <div class="browse">
      <% counter = 0 %>
      <% @results.each do |element| %>
        <% if element.class == Charity %>
          <div class="col-md-6 card-box" data-type="charity">
            <%= link_to charity_path(element) do %>
              <div class="browse-card format-card floated">
                <%= image_tag "mission.jpg", class: "charity-image" %>
                <div class="card-content-wrap">
                  <h1 class="card-title"><%= element.name %></h1>
                  <p class="card-text-grey"><%= element.category.capitalize %></p>
                  <p class="card-location"><i class="fas fa-map-marker-alt"></i> <%= element.address %></p>

                  <p class="card-description"><%= element.description.first(170) + '...'%></p>
                </div>
                <div class="identifier charity">
                  Charity
                </div>
              </div>
            <% end %>
          </div>

        <% else %>
          <div class="col-md-6 card-box" data-type="mission">
            <div class="browse-card format-card">
              <%= image_tag "mission.jpg", class: "mission-image" %>
              <div class="card-content">
                <h1 class="card-title"><%= element.name %></h1>
                <p class="card-text-grey"><%= element.charity.name%></p>
                <p class="card-location"><i class="fas fa-map-marker-alt"></i> <%= element.charity.address %></p>
                <p class="card-description"> <%= element.description.first(80) + '...'%></p>
              </div>
              <div>
                <button type="button" class=" small-btn white-btn modal-button" data-toggle="modal" data-target="#myModal" data-name='<%= element.name %>' data-charity='<%= element.charity.name %>' data-location='<%= element.charity.address %>' data-description='<%= element.description %>' data-charity-path='<%= charity_path(element.charity) %>' data-apply-path='<%= mission_path(element) %>'>
                  More info
                </button>
              </div>

              <div class="identifier mission">
                Mission
              </div>
            </div>
          </div>

        <% end %>
        <% counter += 1 %>
      <% end %>
    </div>


    <div class="follow-cards">
      <h1 class="medium-text text-center">Suggested for you</h1>
      <div class="follow-card">
        <%= image_tag "mission.jpg", class: "charity-image" %>
        <h1 class="card-title">Name of Company</h1>
        <%= link_to '+ Follow', "#", class: "button white-btn small-btn rounded"%>
      </div>

      <div class="follow-card">
        <%= image_tag "mission.jpg", class: "charity-image" %>
        <h1 class="card-title">Name of Company</h1>
        <%= link_to '+ Follow', "#", class: "button white-btn small-btn rounded"%>
      </div>

      <div class="follow-card">
        <%= image_tag "mission.jpg", class: "charity-image" %>
        <h1 class="card-title">Name of Company</h1>
        <%= link_to '+ Follow', "#", class: "button white-btn small-btn rounded"%>
      </div>

      <div class="follow-card">
        <%= image_tag "mission.jpg", class: "charity-image" %>
        <h1 class="card-title">Name of Company</h1>
        <%= link_to '+ Follow', "#", class: "button white-btn small-btn rounded"%>
      </div>
    </div>


  </div>
</div>

<%= render 'mission_modal' %>

