<div class="container">
  <div class="feed-title">
    <h1>Welcome to your <u>Feed</u><strong class="dot">.</strong></h1>
    <p class="secondary-txt">Browse profiles and missions created by our charity partners and specially curated just for you</p>
    <hr>
  </div>

  <div class="flex-container">

    <div class="browse">

      <div class="search-bar flex-container">

        <%= form_tag feed_path, class: "form-inline", method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "search-field",
            placeholder: "   Search by charity, mission, location, category etc."
          %><%= submit_tag 'Search', class: "button purple-btn small-btn" %>

        <% end %>
        <div class="filter">
          <button class="nohover button white-btn small-btn" id="charity">Charities</button>
          <button class ="nohover button white-btn small-btn" id="mission">Missions</button>
        </div>

      </div>

      <div>
        <% @results.each do |element| %>
          <% if element.class == Charity %>
            <div class="col-md-6 card-box" data-type="charity">
              <%= link_to charity_path(element) do %>
                <div class="browse-card format-card floated">
                  <%= cl_image_tag element.logo.url, class: "charity-image" %>
                  <div class="card-content-wrap">
                    <h1 class="card-title"><%= element.name %></h1>
                    <p class="card-text-grey"><%= element.category.capitalize %></p>
                    <p class="card-location"><i class="fas fa-map-marker-alt"></i> <%= element.location %></p>

                    <p class="card-description"><%= element.description.first(170) + '...'%></p>
                  </div>
                  <div class="identifier charity">
                    Charity
                  </div>
                </div>
              <% end %>
            </div>

          <% else %>
            <div class="col-md-6 card-box" data-type="mission">
                <div type="button" class="browse-card format-card" data-toggle="modal" data-target="#myModal" data-name='<%= element.name %>' data-charity='<%= element.charity.name %>' data-location='<%= element.charity.location %>' data-description='<%= element.description %>' data-charity-path='<%= charity_path(element.charity) %>' data-apply-path='<%= mission_path(element) %>'>
                  <%= cl_image_tag element.image.url, class: "mission-image" %>

                  <div class="card-content">
                    <h1 class="card-title"><%= element.name %></h1>
                    <p class="card-text-grey"><%= element.charity.name%></p>
                    <p class="card-location"><i class="fas fa-map-marker-alt"></i> <%= element.charity.location %></p>
                    <p class="card-description"> <%= element.description.first(80) + '...'%></p>
                  </div>

                  <div class="identifier mission">
                    Mission
                  </div>

                </div>
            </div>

          <% end %>
        <% end %>
      </div>
    </div>


    <div class="follow-cards">
      <h1 class="medium-text text-center">Suggested for you</h1>
      <% @suggestions.each do |suggestion| %>

        <div class="follow-card">
          <div class="img">
            <% if suggestion.logo.url %>
              <%= link_to suggestion.charity? ? charity_path(suggestion) : business_path(suggestion) do %>
                <%= cl_image_tag suggestion.logo, class: "charity-img" %>
              <% end %>
            <% else %>
              <%= link_to suggestion.charity? ? charity_path(suggestion) : business_path(suggestion) do %>
                <%= image_tag "mission.jpg", class: "charity-img" %>
              <% end %>
            <% end %>
          </div>


          <div class="card-content-wrap">
            <div class="card-title">
              <%= suggestion.name %>
            </div>

            <div id="<%= "#{suggestion.id}-#{suggestion.class.to_s.downcase}" %>">
              <% if suggestion.charity? %>
                <%= render "shared/charity_button", charity: suggestion %>
              <% else %>
                <%= render "shared/business_button", business: suggestion %>
              <% end %>
            </div>
          </div>

        </div>
      <% end %>


    </div>

  </div>
</div>

<%= render 'mission_modal' %>

