<%= simple_form_for(@charity) do |f| %>
  <div class="form-inputs">
    <div class="left-input col-xs-8">
      <%= f.input :name,
                  required: true,
                  placeholder: 'Charity name',
                  label: false,
                  autofocus: true,
                  input_html: { class: 'first-input'} %>
      <p></p>
      <%= f.collection_radio_buttons :category,
                  [['environment', 'Environment'], ['healthcare', 'Healthcare'], ['disaster relief', 'Disaster relief'], ['education', 'Education'], ['humanitarian', 'Humanitarian'], ['children', 'Children']],
                  :first,
                  :last do |b|
                    b.radio_button(class: 'hidden-input') + b.label(class: 'button-label small')
                  end %>
      <p></p>
      <%= f.input :address,
                  required: true,
                  placeholder: 'Head office address',
                  label: false,
                  input_html: { class: 'first-input', id: 'address' } %>
      <%= f.input :location,
                  required: true,
                  placeholder: "Location as seen in search results (e.g 'London, UK')",
                  label: false %>
      <%= f.input :website,
                  required: true,
                  label: false,
                  placeholder: 'Charity website' %>
      <%= f.input :description,
                  required: true,
                  label: false,
                  placeholder: 'Description',
                  input_html: { class: 'description-input' } %>
      <div class="form-actions">
        <%= link_to "Back to Feed", feed_path, class: 'form-return-link' %>
        <%= f.button :submit, "Next", class: 'big-btn purple-btn form-btn' %>
      </div>
    </div>
    <div class="right-input col-xs-4">
      <div class="circle-div">
        <div class="preview">
        </div>
        <p class="circle-text">click to upload your logo</p>
        <%= f.file_field :logo, class: 'profileUploadInput' %>
      </div>
    </div>

  </div>
<% end %>

<% content_for :after_js do %>
  <%= javascript_pack_tag "map" %>
<% end %>
