
<div class="show-container">

  <div class="profile-left">
    <div class="logo-box">
      <% if @charity.logo.url %>
        <%= cl_image_tag @charity.logo, height: '100', width: '100', class: "profile-image" %>
      <% else %>
        <%= image_tag "mission.jpg", class: "profile-image" %>
      <% end %>
    </div>

    <div class="flex-box main-title">
      <h1 class="medium-text">
        <%= @charity.name %>
      </h1>

      <% unless current_user.organisation == @charity %>
        <div class="follow-button", id="<%= "#{@charity.id}-charity" %>">
          <%= render "shared/charity_button", charity: @charity %>
        </div>
      <% end %>
    </div>

    <div class="profile-stats flex-box">
      <div class="counts">
        <div class="count" data-toggle="modal" data-target="#partnerModal">
          <strong><%= @charity.partners.count %></strong> business <%= "partnership".pluralize(@charity.partners.count) %>
        </div>
        <div class="count" id="count" data-toggle="modal" data-target="#followModal">
          <strong><%= @charity.followers.length %></strong> <%= "follower".pluralize(@charity.followers.length) %>
        </div>
      </div>

      <div class="envelope">
        <% if Conversation.chat_between(@charity, current_user.organisation).exists? %>
          <% @conversation = Conversation.chat_between(@charity, current_user.organisation).first %>
          <%= link_to conversation_path(@conversation), class: 'envelope-btn' do %>
            <i class="fas fa-envelope"></i>
          <% end %>
        <% else %>
          <%= render "conversation_form" %>
        <% end %>
      </div>

    </div>

    <div class="profile-content">
      <p>
        <a class="blue" href="<%= @charity.website %>" target="_blank"><%= @charity.website %></a>
      </p>
      <p class="profile-category">
         <%= @charity.category.capitalize %>
      </p>
    </div>

    <div class="profile-description">
      <p><%= @charity.description %></p>
    </div>

    <div>
      <% if @charity == current_user.organisation %>
        <%= link_to edit_charity_path(@charity) do %>
          <i class="far fa-edit"></i>
        <% end %>
        <%= link_to charity_path(@charity),
            method: :delete,
            data: { confirm: "Are you sure you want to delete your charity profile?" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="profile-right">
    <div
    id="map"
    style="width: 100%;
    height: 100%;"
    data-marker="<%= @marker.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    >
    </div>
  </div>
</div>


<div class="mission-header">
  <h3><u>Missions</u><strong class="dot-small">.</strong>
  </h3>
  <% if current_user.organisation == @charity %>
  <br><%= link_to '+ New', new_charity_mission_path(@charity), class: 'white-btn medium-btn rounded'%>
  <% end %>
</div>
<hr>

<div class="mission-cards-container">

  <% @charity.missions.each do |mission| %>
    <div class="col-md-4 col-sm-12">
      <%= link_to mission_path(mission) do%>
      <div class="whole-card">
        <div class="small-mission-card">
          <% if mission.image.url %>
          <%= cl_image_tag mission.image, class: "mission-image" %>
          <% else %>
          <%= image_tag "mission.jpg", class: "mission-image" %>
          <% end %>
        </div>

        <div class="mission-content">
          <h5 class="card-title"><%= mission.name %></h5>
        </div>
      </div>
      <% end %>
    </div>
  <% end %>

</div>


<% content_for :after_js do %>
<%= javascript_pack_tag "map" %>
<% end %>

<%= render 'partner_modal' %>
<%= render 'follow_modal' %>
