<div class="charity-container">

  <div class="flex-box">
    <% if @charity.logo.url %>
      <%= cl_image_tag @charity.logo, height: '100', width: '100', class: "profile-image" %>
    <% else %>
      <%= image_tag "mission.jpg", class: "profile-image" %>
    <% end %>

    <div class="profile-right">
      <div class="flex-box main-title">
        <h1 class="medium-text"><%= @charity.name %> </h1>
        <div class="follow-button">
          <%= simple_form_for(@charity, url: follow_path(@charity), html: { method: :post }) do |f| %>
            <%= f.button :submit, "+ Follow", class: 'white-btn medium-btn rounded' %>
          <% end %>
        </div>
      </div>

      <div class="flex-box">
        <p class="count"><strong><%= @charity.missions.count %></strong> missions</p>
        <p class="count"><strong><%= @charity.follows.count %></strong> followers</p>
      </div>
      <div class="profile-content">
        <p><i class="fas fa-map-marker-alt"></i> <%= @charity.address %>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <a class="blue" href="<%= @charity.website %>"><%= @charity.website %></a></p>
        <p class="profile-category">Chairty of <%= @charity.category.capitalize %></p>
      </div>
      <div class="profile-description">
        <p><%= @charity.description %></p>
      </div>
    </div>


  </div>





</div>

<div class="mission-cards-container">
  <% @charity.missions.each do |mission| %>
    <div class="col-md-4 col-sm-12">
      <%= link_to mission_path(mission) do%>
        <div class="small-mission-card">
          <% if mission.image.url %>
            <%= cl_image_tag mission.image, class: "mission-image" %>
          <% else %>
            <%= image_tag "mission.jpg", class: "mission-image" %>
          <% end %>
          <div class="mission-details">
            <h1 class="card-title"><%= mission.name %></h1>
            <p class="card-location card-text-grey"><i class="fas fa-map-marker-alt"></i> <%= @charity.address %></p>
            <% if mission.duration %>
              <p class="card-location"><strong>Duration:</strong> <%= mission.duration %> months</p>
            <% else %>
              <p class="card-location"><strong>Duration:</strong> not specified</p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>






