
  <div class="profile-graphics">
    <div class="profile-banner">
      <% if @charity.logo.url %>
        <div class="show-banner" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.1)), url(<%= cl_image_path(@charity.logo) %>);">
        </div>
      <% else %>
        <div class="show-banner" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.1)), url(<%= image_path "mission.jpg" %>);">
        </div>
      <% end %>

      <% if @charity.logo.url %>
        <%= cl_image_tag @charity.logo, height: '100', width: '100', class: "profile-image" %>
      <% else %>
        <%= image_tag "mission.jpg", class: "profile-image" %>
      <% end %>

       <%= link_to '+ Follow', "#", class: "button purple-btn medium-btn rounded"%>
    </div>
  </div>

<div class="charity-profile">
  <div class="profile-content">
    <h1 class="medium-text"><%= @charity.name %> </h1>
    <p><i class="fas fa-map-marker-alt"></i> <%= @charity.address %></p>
    <p><a href="<%= @charity.website %>"><%= @charity.website %></a></p>
    <p class="profile-category"><%= @charity.category.capitalize %></p>
  </div>
  <div class="profile-description">
    <p><%= @charity.description %></p>
  </div>
</div>

<div class="missions">

</div>
