
  <div class="profile-graphics">
    <div class="profile-banner">
      <% if @charity.logo.url %>
        <div class="show-banner" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.1)), url(<%= cl_image_path(@charity.logo) %>);">
        </div>
      <% else %>
        <div class="show-banner" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.1)), url(<%= image_path "mission.jpg" %>);">
        </div>
      <% end %>

      <% if @charity.logo.url %>
        <%= cl_image_tag @charity.logo, height: '100', width: '100', class: "profile-image" %>
      <% else %>
        <%= image_tag "mission.jpg", class: "profile-image" %>
      <% end %>
      <div class="follow-button">
        <%= simple_form_for(@charity, url: follow_path(@charity), html: { method: :post }) do |f| %>
          <%= f.button :submit, "+ Follow", class: 'purple-btn medium-btn rounded' %>
        <% end %>
      </div>

    </div>
  </div>

<div class="profile">
  <div class="profile-content">
    <h1 class="medium-text"><%= @charity.name %> </h1>
    <p><i class="fas fa-map-marker-alt"></i> <%= @charity.address %></p>
    <p><a href="<%= @charity.website %>"><%= @charity.website %></a></p>
    <p class="profile-category"><%= @charity.category.capitalize %></p>
    <div class="followers">
      Followers: <%= @charity.followers %>
    </div>
  </div>
  <div class="profile-description">
    <p><%= @charity.description %></p>
  </div>
</div>

<div class="mission-cards-container">
  <% @charity.missions.each do |mission| %>
    <div class="col-md-4 col-sm-12">
      <%= link_to mission_path(mission) do%>
        <div class="small-mission-card">
          <% if mission.image %>
            <%= cl_image_tag @charity.logo, class: "mission-image" %>
          <% else %>
            <%= image_tag "mission.jpg", class: "mission-image" %>
          <% end %>
          <div class="mission-details">
            <h1 class="card-title"><%= mission.name %></h1>
            <p class="card-location card-text-grey"><i class="fas fa-map-marker-alt"></i> <%= @charity.address %></p>
            <% if mission.duration %>
              <p class="card-location"><strong>Duration:</strong> <%= mission.duration %> months</p>
            <% else %>
              <p class="card-location"><strong>Duration:</strong> not specified</p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
