<%= simple_form_for(@mission) do |f| %>
  <div class="form-inputs">
    <div class="left-input col-xs-7">
      <%= f.input :name,
                  required: true,
                  placeholder: 'Mission name',
                  label: false,
                  autofocus: true,
                  input_html: { class: 'first-input'} %>
      <%= f.input :duration,
                  required: true,
                  label: false,
                  placeholder: 'How many months will this mission run for?' %>
      <%= f.input :address,
                  required: false,
                  label: false,
                  placeholder: 'Where will this mission take place (if relevant)?' %>
      <%= f.input :description,
                  required: true,
                  placeholder: 'Description',
                  label: false,
                  input_html: { class: 'description-input'} %>
      <div class="form-actions">
        <%= link_to "Back to Profile", charity_path(@charity), class: 'form-return-link' %>
        <%= f.button :submit, "Next", class: 'big-btn purple-btn form-btn' %>
      </div>
    </div>
    <div class="right-input-mission col-xs-5">
      <div class="rectangle-div">
        <div class="preview">
        </div>
        <p class="rectangle-text">click to upload an image for this mission...</p>
        <%= f.file_field :image, class: 'profileUploadInput' %>
      </div>
    </div>

  </div>
<% end %>
